/* 배경색 설정 */
.register-logo-container {
    background-color: #F2F8FF;  /* 배경색 설정 */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Register-page {
    text-align: center;
}

.logo-image {
    margin-top: 20px;   /* 로고와 텍스트 사이에 여백 */
    width: 150px;  /* 로고 크기 조정 */
    height: auto;   /* 비율 유지 */
    margin-bottom: 20px;  /* 로고와 텍스트 사이에 여백 */
}

/* 폼 스타일링 */
.register-logo-form {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

/* 제목 스타일 */
.register-logo-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

/* 입력 필드 스타일 */
.register-logo-form input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

/* 버튼 스타일 */
.register-logo-form button {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* 버튼 hover 효과 */
.register-logo-form button:hover {
    background-color: #45a049;
}
